@use "../core/variables";
@use "sass:color";

.navbar {
    width: 100vw;
    color: variables.$nav-text;
    padding: 20px;
    transition: 300ms;
    position: fixed;
    .inner {
        width: 75%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .nav-links {
        li {
            display: inline;
            padding-left: 5px;
            padding-right: 5px;
            a {
                color: variables.$nav-text;
                text-decoration: none;
                &:hover {
                    color: color.adjust(variables.$nav-text, $lightness: -30%)
                }
            }
        }
    }
}
.nav-active {
    background-color: variables.$nav-color
}